# Dependency directories (โฟลเดอร์สำหรับติดตั้ง Library ห้ามอัปขึ้น GitHub)
node_modules/

# OS metadata (ไฟล์ขยะของระบบปฏิบัติการ)
.DS_Store
Thumbs.db
.DS_Store?
ehthumbs.db

# Log files (ไฟล์บันทึกการทำงาน)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Database (หากต้องการให้ข้อมูลในเครื่องเป็นส่วนตัว ไม่ให้อัปเดตทับกันบน GitHub)
# ปลดคอมเมนต์ด้านล่างนี้หากไม่อยากให้เอาไฟล์ข้อมูลขึ้นไป
# data/database.json

.gemini/
.cursor/
.impeccable/
